// About

.about {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 90px;
  }

  @include desktop {
    padding-bottom: 115px;
  }
}

// Info

.about__info {
  position: relative;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

// Title

.about__title {
  margin-bottom: 20px;

  @include desktop {
    margin-top: 5px;
  }
}

.about__subtitle {
  @include desktop {
    padding-right: 20px;
  }
}
