// Button

.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  padding: 12px 18px;
  background-color: $basic-orange;
  border-radius: 20px;
  border: 0;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: #9b9b9b;
    }
  }

  &:focus-visible {
    outline: 2px solid rgb(152, 115, 211);
    outline-offset: 3px;
  }

  &:active {
    opacity: 0.3;
  }
}
