// Cases

.cases {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 90px;
  }
}

.cases__info {
  position: relative;
}


// Title

.cases__title {
  margin-bottom: 30px;
}

// Subtitle

.cases__subtitle {
  margin-bottom: 20px;
}


// List

.cases__list {
  @include overlay;
  position: relative;
  display: grid;
  padding-bottom: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}


// Item

.cases__item {
  position: relative;
  display: flex;
  flex-direction: column;

  &--design {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}

.cases__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px 15px 14px;
}

// Title

.cases__item-title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  color: inherit;
}

// Description

.cases__item-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
  color: inherit;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 44px;
}

// Img

.cases__item-info img {
  margin-bottom: 10px;
}

.cases__item-button {
  margin-right: auto;
}

// Button

.cases__button {
  margin-top: 31px;
  width: 100%;
}
