// Customers

.customers {
  padding-bottom: 60px;
}

// Title

.customers__title {
  margin-bottom: 20px;
}


// List

.customers__list-inner {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.customers__list {
  @include overlay;
  position: relative;
  display: grid;
  align-items: center;
  padding-bottom: 10px;
}

// Heading

.customers__heading {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

// Item

.customers__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

// Link

.customers__link {
  padding: 100px;
  padding-top: 31px;
  padding-bottom: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--buro {
    background-image: url("../images/buro.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 56px;
    padding-bottom: 58px;
    padding-left: 26px;
    padding-right: 24px;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/buro@2x.png");
      background-size: 250px auto;
      min-width: 250px;
    }
  }

  &--lsp {
    padding: 50px;
  }

  &--cds {
    padding: 40px;
    padding-top: 59px;
    padding-bottom: 39px;
  }

  &--bonava {
    padding-top: 37px;
    padding-bottom: 59px;
  }
}
