// Direction

.direction {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 90px;
  }
}

// Title

.direction__title {
  margin-bottom: 20px;
}


// List

.direction__list {
  @include overlay;
  display: grid;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Item

.direction__item {
  position: relative;
}

// Info

.direction__info {
  display: flex;
  flex-direction: column;
  min-height: 314px;
  padding: 30px 41px 22px 29px;
}

// Item Title

.direction__item-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: inherit;
}

// Description

.direction__item-description {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
  color: inherit;
  opacity: 0.6;
}

// // Button

// .direction__item-button {

// }

// Button

.direction__button {
  width: 100%;
}
