// Form

.form {
  position: relative;
  display: grid;
  padding: 20px 15px;
  font-family: "Inter", sans-serif;

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-column: 2/-1;
    column-gap: 20px;
    row-gap: 10px;
    padding: 21px 25px 20px 25px;
  }
}

// Field

.form__field {
  display: grid;
  margin-bottom: 17px;

  &:last-of-type {
    margin-bottom: 13px;
  }

  @include desktop {
    &--phone {
      grid-column: 1/2;
    }

    &--mail {
      grid-row: 3/3;
    }

    &--textarea {
      grid-column: 2/-1;
      grid-row: 1/-2;
      align-self: center;
    }

    &:last-of-type {
      margin-bottom: 25px;
    }
  }
}

// Heading

.form__heading {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  color: inherit;
}

// Label

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Input

.form__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.1em;
  border: 1px solid $basic-white;
  background: transparent;
  padding: 11px;
  color: inherit;

  &:focus-visible {
    outline: none;
  }
}

.form__input::placeholder {
  opacity: 0.3;
  color: inherit;
}

.form__textarea {
  width: 100%;
  resize: none;
  min-height: 88px;

  @include desktop {
    width: 527px;
    height: 166px;
    padding: 11px;
  }
}

// Checbox

.form__checkbox {
  @include overlay;
  border: none;
  margin-bottom: 8px;
}

.form__checkbox-label {
  display: flex;
  position: relative;
  padding-left: 25px;
}

.form__checkbox-input {
  &--mark {
    position: absolute;
    left: 1px;
    background-color: transparent;
    border: 1px solid $basic-white;
    width: 15px;
    height: 15px;
  }
}


.form__checkbox-input:checked + .form__checkbox-input--mark::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 6px;
  height: 4px;
  border-bottom: 1px solid $basic-white;
  border-left: 1px solid $basic-white;
}

.form__checkbox-input:focus-visible + span {
  outline: 2px solid hsl(263, 52%, 64%);
}

// Lead

.form__checkbox-lead {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2em;
  color: inherit;
  opacity: 0.7;
}

// Button

.form__button {
  width: 100%;

  @include desktop {
    grid-row: 4/-1;
    grid-column: 1/-1;
  }
}
