// Header

.header {
  position: relative;
  display: grid;
  padding: 25px 10px;

  @include desktop {
    grid-template-columns: min-content 1fr;
    padding-left: 16px;
    padding-bottom: 66px;
  }
}


// Menu

.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  @include desktop {
    position: relative;
  }
}
