// Hero

.hero {
  position: relative;
  padding-bottom: 60px;
}

.hero__wrapper {
  &--index {
    background-image: url("../images/generalplan.jpg");
    background-repeat: no-repeat;
    background-position: center 256px;
    padding-bottom: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../images/generalplan@2x.jpg");
      background-size: 300px 386px;
    }

    @include tablet {
      background-image: url("../images/generalplan-tablet.jpg");
      background-size: 90% auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../images/generalplan-tablet@2x.jpg");
      }
    }

    @include desktop {
      background-image: url("../images/generalplan-desktop.jpg");
      background-position: center 155px;

      @media (min-resolution: 2dppx) {
        background-image: url("../images/generalplan-desktop@2x.jpg");
        background-size: 1400px auto;
      }
    }
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr;
  }
}

// Title
.hero__title {
  position: relative;
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: inherit;

  @include tablet {
    font-size: 60px;
    letter-spacing: 0.03em;
    grid-column: 3 span;
    margin: 0;
  }

  @include desktop {
    font-size: 65px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 23px;
  }
}

// Button
.hero__button {
  @include tablet {
    max-width: 200px;
    position: absolute;
    top: 20%;
    justify-self: end;
  }

  @include desktop {
    top: -65px;
  }
}
