// modal

.modal {
  z-index: 99;
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: $basic-black;
  opacity: 0;
  pointer-events: none;
  transition: opacity $trans;

  @include desktop {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.modal__inner {
  position: relative;
}

.modal .line {
  &::after,
  &::before {
    z-index: 1;
  }
}

.is-active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 40px;
  overflow: auto;
  height: 100vh;
  background-color: $basic-black;

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 1285px;
    max-height: 75vh;
  }

  &--description {
    @include desktop {
      width: 770px;
    }
  }
}

.modal__button {
  padding: 7px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}


.modal__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Akrobat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: inherit;

  @include desktop {
    font-size: 42px;
  }
}

.modal__grid {
  font-family: "Inter", sans-serif;
  display: grid;
}

.modal__info {
  position: relative;
  padding: 20px;
}

// Lead

.modal__lead {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  color: inherit;

  @include desktop {
    font-size: 20px;
    margin-bottom: 14px;
  }

  &--cases {
    position: relative;
    padding: 20px;
    margin-bottom: 0;
  }

  &--project {
    position: relative;
    padding: 20px;
    margin-bottom: 0;
  }
}

.modal__description {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25em;
  margin: 0;
  color: inherit;
  opacity: 0.8;

  @include desktop {
    font-size: 16px;
    line-height: 1.3em;
    grid-row: 2/2;
    grid-column: 1/2;
  }

  &--opacity {
    opacity: 1;
    padding: 20px;
  }
}

.modal__aside {
  display: grid;

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  &--big {
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.modal__list {
  padding: 0;
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
}

.modal__list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25em;
  color: inherit;
  opacity: 0.8;
}

.modal__aside p {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25em;
  color: inherit;
  margin: 0;
  padding: 20px;

  @include desktop {
    margin: -1px;
    font-size: 14px;
  }
}

.modal__grid-cases {
  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.modal__grid-cases h3 {
  @include desktop {
    grid-column: 1/2;
  }
}

.modal__description-list {
  @include desktop {
    grid-column: 2/-1;
    grid-row: 2 span;
  }
}

.modal__develop-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.modal__develop {
  @include desktop {
    display: flex;
  }
}

.modal__develop dt {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.modal__develop dl {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: inherit;
}


.modal__grid-project {
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
  }
}

.modal img {
  margin-top: 10px;

  @include desktop {
    margin-top: 20px;
  }
}

.modal__project-img {
  position: relative;
  padding: 20px;
  margin: -2px;

  @include desktop {
    margin: -2px;
    grid-row: 2 span;
  }

  img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.modal__description-project {
  padding: 20px;
  margin: -2px;

  @include desktop {
    padding: 40px;
    margin: 0;
  }
}

.modal__description-list-cases {
  @include desktop {
    margin: -2px;
  }
}


.modal__aside .line {
  @include desktop {
    &:nth-of-type(1n)::after {
      border-bottom: 2px solid #9b9b9b;
    }

    &:nth-of-type(2n)::after {
      border-bottom: 2px solid #9b9b9b;
    }
  }
}

.modal__grid-cases .line {
  @include desktop {
    &:nth-of-type(1n)::after {
      border-bottom: 2px solid #9b9b9b;
      // border-top: 0;
    }
  }
}

.modal__grid-project .line {
  &:nth-child(3n)::after {
    border-top: 0;
  }

  @include desktop {
    &:nth-child(3n)::after {
      border-top: 2px solid #9b9b9b;
    }
  }
}
