// Popover

.popover {
  width: 100%;
  min-height: 574px;
  z-index: 3;
  position: absolute;
  background-color: $basic-black;
  top: 0;
  left: 1px;
  padding: 40px;
  display: none;

  @include tablet {
    right: 50%;
    transform: translateX(-50%);
  }

  @include desktop {
    width: 769px;
    right: 50%;
  }
}

.popover__info {
  position: relative;
  padding: 20px;
}

.popover .line:nth-of-type(1) {
  &::after {
    border-bottom: 0;
  }
}

.popover--open {
  display: block;
}

.popover__button {
  margin: 7px 6px;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.popover__content {
  display: grid;
  padding: 20px;

  @include desktop {
    grid-template-rows: min-content min-content 1fr;
  }
}

.popover_title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Akrobat", sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: inherit;

  @include desktop {
    font-size: 42px;
  }
}

.popover__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: inherit;

  @include desktop {
    font-size: 20px;
  }
}

.popover__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25em;
  color: inherit;
  opacity: 0.8;
  margin-bottom: 20px;

  @include desktop {
    font-size: 16px;
    line-height: 1.3em;
  }
}

.popover__text {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25em;
  letter-spacing: -0.01em;
  color: inherit;
  padding: 20px;

  @include desktop {
    font-size: 18px;
  }
}

.popover__list {
  display: grid;

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
