// Range


.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  background-color: #9b9b9b;
  bottom: -20px;
  left: 0;
}

.swiper-scrollbar-drag {
  background-color: #656565;
  width: 84px;
}
