// SubTitle

.subtitle {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0.9;
  text-align: left;
  text-indent: 60px;
}
