// Title

.title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: inherit;
  margin: 0;
}
