// Values

.values {
  padding-bottom: 60px;

  @include tablet {
    padding-bottom: 90px;
  }

  @include desktop {
    padding-bottom: 120px;
  }
}

// Title

.values__title {
  margin-bottom: 20px;
}

// Info

.values__info {
  position: relative;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}
